<style>

        .image-container {
            position: relative;
            margin-bottom: 25px;
            margin-right: 40px;
        }

        .image {
            opacity: 1;
            display: block;
            width: 100%;
            height: auto;
            transition: .5s ease;
            backface-visibility: hidden;
        }

        .middle {
            transition: .5s ease;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
        }

        .image-container:hover .image {
            opacity: 0.3;
        }

        .image-container:hover .middle {
            opacity: 1;
        }





    /*Home Page*/

    .home {
        background: linear-gradient(to bottom, #FFB88C, #DE6262);

    }

    #navigation {
        background: linear-gradient(to bottom, #FFB88C, #DE6262);
    }

    #navigation {
        padding-bottom: 150px;
        box-sizing: border-box;
    }

    .row {
        padding-bottom: 50px;
    }

    .display-table {
        display: table;
        padding: 0;
        height: 100%;
        width: 100%;
    }

    .display-table-row {
        display: table-row;
        height: 100%;
    }

    .display-table-cell {
        display: table-cell;
        float: none;
        height: 100%;
    }

    .v-align {
        vertical-align: top;
    }

    .logo img {
        max-width: 180px;
        padding: 16px 0 17px;
        width: 100%;
    }

    .header-top {
        margin: 0;
        padding-top: 2px;
        margin: 10px;
    }

    .header-top img {
        border-radius: 40%;
        max-width: 40px !important;
        margin: 14px;
        width: 100%;
    }

    .add-project {
        background: #FFB88C none repeat scroll 0 0;
        border-radius: 100px;
        color: #ffffff;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 14px;
        font-weight: 600;
        padding: 10px 27px 10px 27px;
        position: relative;
    }



    .add-project:hover {
        color: #ffffff;
        background-color: #DE6262;
    }

    .header-top i {
        color: #FFB88C;
    }

    .icon-info {
        position: relative;
        margin-left: 50px;
        margin-right: 50px;
    }

    .navi i {
        font-size: 20px;
    }

    .label.label-primary {
        border-radius: 35%;
        background-color: #DE6262;
        font-size: 10px;
        left: 8px;
        position: absolute;
        top: -9px;
    }

    .icon-info .label {
        border: 2px solid #ffffff;
        font-weight: 500;
        padding: 3px 5px;
        text-align: center;
    }

    .header-top li {
        display: inline-block;
        text-align: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #DE6262;

    }

    .header-top .dropdown-toggle {
        color: #E36262;
    }

    .header-top .dropdown-menu {
        border: medium none;
        left: -100px;
        padding: 25px;
    }


    .navbar-content>span {
        font-size: 20px;
        font-weight: 100;
        letter-spacing: 2px;
    }

    .img-responsive {
        width: 100%;
    }

    ul {
        list-style-type: none;
        margin: -10px;
        padding: 0;
    }

    .search input {
        border: none;
        font-size: 15px;
        padding: 5px 9px;
        width: 100%;
        margin-top: 35px;
        color: #8492af;
    }

    header {
        background: #ffffff none repeat scroll 0 0;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15);
        display: inline-block !important;
        line-height: 23px;
        margin-left: 50px;
        margin-top: 23px;
        width: 90%;

        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    .logo {
        text-align: center;
    }

    .navi a {

        font-family: -apple-system, BlinkMacSystemFont,
            "Segoe UI", Roboto, "Helvetica Neue",
            Arial, sans-serif, "Apple Color Emoji",
            "Segoe UI Emoji", "Segoe UI Symbol";

        color: #ffffff;
        display: block;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 1px;
        padding: 28px 20px;

    }

    .navi i {
        color: #f3f3f3;
        padding-right: 20px;
    }

    .navi .active a {
        background: #FEB58A;
        border-left: 0px;
        margin-left: 0;
    }

    .navi a:hover {
        background: #FEB58A none repeat scroll 0 0;
        border-left: 5px solid #E36262;
        display: block;
        padding-left: 15px;


    }

    .navbar-default {
        background-color: #ffffff;
        border-color: #ffffff;
    }

    .navbar-toggle {
        border: none;
    }



    .navbar-default .navbar-toggle .icon-bar {
        background-color: #DE6262;
    }

    .circle-logo {
        margin: 0 auto;
        max-width: 150px !important;
        text-align: center;
        border-radius: 10%;
    }


    .user-dashboard {
        padding: 50px 100px;
    }

    .user-dashboard h1 {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-bottom: 30px;
        font-weight: 800;
        font-size: 30px;
        color: #DE6262;
        font-size: 30px;
        margin: 0;
        letter-spacing: 1px;
        padding: 21px 0;


    }

    .user-dashboard h1:after {
        content: " ";
        width: 500px;
        height: 3px;
        background: #FEB58A;
        display: block;
        margin-top: 20px;
        margin-bottom: 30px;
        border-radius: 3px;
        margin-right: auto;
    }

    p {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-bottom: 30px;
        font-weight: 500;
        font-size: 20px;
        letter-spacing: 2PX;
        color: #E36262;

    }

    ul {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-bottom: 30px;
        font-weight: 500;
        font-size: 15px;
        letter-spacing: 2px;
        padding-left: 30px;


    }

    .container {
        background: #ffff;
        border-radius: 10px;
        box-shadow: 15px 15px 0px rgba(0, 0, 0, 0.2);
        margin-top: 60px;
    }

    .sales {
        background: #ffffff;
        border: 1px solid #FEB58A;
        border-radius: 20px;
        padding: 15px;
        margin-bottom: 40px;
        width: 100%;
        height: 90%;

    }

    .sales button {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: 1px solid #dadee7;
        border-radius: 0px;
        font-size: 0 px;
        letter-spacing: 5px;
        margin-left: 50px;
        color: #0e1a35;
    }

    .sales button::before {
        font-family: FontAwesome;
        position: absolute;
        right: 11px;
        top: 11px;
    }

    .sales .btn-group {
        float: inline-end;
        padding-left: 300px;
        width: 500px;

    }

    .sales h2 {
        font-family: ;
        color: #8492af;
        float: left;
        font-size: 21px;
        font-weight: 600;
        margin: 0;
        padding: 0 0;
    }

    h2 {
        font-family: ;
        color: #E36262;
        float: left;
        font-size: 21px;
        font-weight: 600;
        margin: 0;
        padding: 20px 0;
    }

    .sales label {
        color: #8492af;
        float: left;
        font-size: 21px;
        font-weight: 600;
        margin: 0;
        padding-right: 90px;
    }

    .btn.btn-secondary.btn-lg.dropdown-toggle>span {
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 0.5px;
    }

    .sales .dropdown-menu {
        float: inline-start;
        margin: 10px;
        padding: 0px;
        border: 0px;
        border-radius: 8px;
        width: 100%;
    }

    .sales .btn-group.open .dropdown-toggle,
    .btn.active,
    .btn:active {
        box-shadow: none;
    }

    .sales .dropdown-menu>a {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        display: list-item;
        font-weight: 500;
        padding: 0px 10px 0px 10px;
        text-align: left;
        letter-spacing: 1px;
        width: 100%;
        color: #E36262;
    }

    .sales .dropdown-menu>a:hover {
        color: #FEB58A;
    }


    .search input:focus {
        border-bottom: 10px solid #FFB88C;
        . line-height: 22px;
        transition: 1s all;
    }
</style>

<script>

    $(document).ready(function () {
            $imgSrc = $('#imgProfile').attr('src');
            function readURL(input) {

                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#imgProfile').attr('src', e.target.result);
                    };

                    reader.readAsDataURL(input.files[0]);
                }
            }
            $('#btnChangePicture').on('click', function () {
                // document.getElementById('profilePicture').click();
                if (!$('#btnChangePicture').hasClass('changing')) {
                    $('#profilePicture').click();
                }
                else {
                    // change
                }
            });
            $('#profilePicture').on('change', function () {
                readURL(this);
                $('#btnChangePicture').addClass('changing');
                $('#btnChangePicture').attr('value', 'Confirm');
                $('#btnDiscard').removeClass('d-none');
                // $('#imgProfile').attr('src', '');
            });
            $('#btnDiscard').on('click', function () {
                // if ($('#btnDiscard').hasClass('d-none')) {
                $('#btnChangePicture').removeClass('changing');
                $('#btnChangePicture').attr('value', 'Change');
                $('#btnDiscard').addClass('d-none');
                $('#imgProfile').attr('src', $imgSrc);
                $('#profilePicture').val('');
                // }
            });
        });
</script>



<body class="home">
    <div class="container-fluid display-table">
        <div class="row display-table-row home ">
            <div class="col-md-2 col-sm-1 display-table-cell v-align box" id="navigation">
                <div class="logo">
                    <a href="#">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/6/6d/EatOut.png" class="circle-logo">
                    </a>
                </div>

                <!--Side NavBar -->
                <div class="navi" ng-controller="FriendsController">
                    <ul>
                        <li><a ng-click="gotohome()"><i class="fa fa-home" aria-hidden="true"></i><span
                                    class="hidden-xs hidden-sm">Home</span></a></li>
                        <li class="active"><a ng-click="gotofriends()"><i class="fa fa-user" aria-hidden="true"></i><span
                                    class="hidden-xs hidden-sm">Profile</span></a></li>
                        <li><a ng-click="gotoprograms()"><i class="fa fa-calendar" aria-hidden="true"></i><span
                                    class="hidden-xs hidden-sm">Fixed programs</span></a></li>
                        
                    </ul>
                </div>
            </div>
            <div class="col-md-10 col-sm-11 display-table-cell v-align">
                <!--<button type="button" class="slide-toggle">Slide Toggle</button> -->



                <div class="user-dashboard container">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-title mb-4">
                                            <div class="d-flex justify-content-start">
                                                <div class="image-container">
                                                    <img src="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/77420/burger-clipart-xl.png" id="imgProfile"
                                                        style="width: 150px; height: 150px" class="img-thumbnail" />
                                                    <div class="middle">
                                                        <input type="button" class="btn btn-secondary" id="btnChangePicture"
                                                            value="Change" />
                                                        <input type="file" style="display: none;" id="profilePicture" name="file" />
                                                    </div>
                                                </div>

                                                <div class="userData ml-3">
                                                    <h2> Some Name </h2>
                                                    <h6 class="d-block"><a href="javascript:void(0)">21</a> Programs </h6>
                                                    <h6 class="d-block"><a href="javascript:void(0)">15 </a> Visited restaurants</h6>
                                                </div>

                                                <div class="ml-auto">
                                                    <input type="button" class="btn btn-primary d-none" id="btnDiscard"
                                                        value="Discard Changes" />
                                                </div>
                                                
                                            </div>
                                        </div>
                    
                                        <div class="row">
                                            <div class="col-12">
                                                <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                                                    <li class="nav-item">
                                                        <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo"
                                                            role="tab" aria-controls="basicInfo" aria-selected="true">Basic Info</a>
                                                    </li>
                    
                                                </ul>

                                                <div class="tab-content ml-1" id="myTabContent">
                                                    <div class="show active" id="basicInfo" role="tabpanel"
                                                        aria-labelledby="basicInfo-tab">
                    
                    
                                                        <div class="row">
                                                            <div class="col-sm-3 col-md-2 col-5">
                                                                <label style="font-weight:bold;">Full Name</label>
                                                            </div>
                                                            <div class="col-md-8 col-6">
                                                                Jamshaid Kamran
                                                            </div>
                                                        </div>
                                                        <hr />
                    
                                                        <div class="row">
                                                            <div class="col-sm-3 col-md-2 col-5">
                                                                <label style="font-weight:bold;">Birth Date</label>
                                                            </div>
                                                            <div class="col-md-8 col-6">
                                                                March 22, 1994.
                                                            </div>
                                                        </div>
                                                        <hr />
                    
                    
                                                        <div class="row">
                                                            <div class="col-sm-3 col-md-2 col-5">
                                                                <label style="font-weight:bold;">Mail</label>
                                                            </div>
                                                            <div class="col-md-8 col-6">
                                                                Something@gmail.com
                                                            </div>
                                                        </div>
                                                        <hr />
                                                        <div class="row">
                                                            <div class="col-sm-3 col-md-2 col-5">
                                                                <label style="font-weight:bold;">Phone Number</label>
                                                            </div>
                                                            <div class="col-md-8 col-6">
                                                                +33 987456321
                                                            </div>
                                                        </div>
                                                        <hr />
                                                        <div class="row">
                                                            <div class="col-sm-3 col-md-2 col-5">
                                                                <label style="font-weight:bold;">Address</label>
                                                            </div>
                                                            <div class="col-md-8 col-6">
                                                                15, Rue charles fourier 
                                                            </div>
                                                        </div>
                                                        <hr />
                    
                                                    </div>
                    
                                                </div>
                                            </div>
                                        </div>
                    
                    
                                    </div>
                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <!-- Modal 
  <div id="add_project" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content
      <div class="modal-content">
        <div class="modal-header login-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h4 class="modal-title">Add Project</h4>
        </div>
        <div class="modal-body">
          <input type="text" placeholder="Project Title" name="name">
          <input type="text" placeholder="Post of Post" name="mail">
          <input type="text" placeholder="Author" name="passsword">
          <textarea placeholder="Desicrption"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="cancel" data-dismiss="modal">Close</button>
          <button type="button" class="add-project" data-dismiss="modal">Save</button>
        </div>
      </div>

    </div>
  </div>

</body>
-->